/* Styles start here */
body, html {
    height: 100%;   
}

.wrappert {
    height: 100%; 
    width: 100%;
   display: table;    
}

.wrapper {
    height: 100%;
    vertical-align: middle;
    display: table-cell;
    text-align: center;
}

.main-img{
    position: relative;
    width: 70%;
    height: 100%;
    background: url('img/plan-low.png') no-repeat center;
    background-size: 100% 100%;
    margin:auto;
}

.room{
    z-index: 10;
    position: absolute;
    width: 6%;
    height: 6%;
}
.room2{
    z-index: 10;
    position: absolute;
    width: 4.85%;
    height: 4.85%;
}

.first_room {
    top: 23%;
    left: 45.25%;
}
.second-room {
    
    top: 28%;
    left: 53.25%;
}
.third-room {
    top: 32.75%;
    left: 60.40%;
}
.fourth-room {
    top: 47.5%;
    left: 22%;
}
.fifth-room {
    top: 52.5%;
    left: 30%;
}
.sixth-room {
    top: 35%;
    left: 83%;
}
.seventh-room {
    top: 79%;
    left: 12.75%;
}
.eighth-room {
    top: 84%;
    left: 20.75%;
}
.ninth-room {
    top: 89%;
    left: 28%;
}
.tenth-room {
    top: 88%;
    left: 81.5%;
}
.eleventh-room {
    top: 1.75%;
    left: 84.25%;
}

.button_insta{
    background: no-repeat center;
    border: none; 
    cursor: pointer;
}

.agrandir {
    max-width : 100%;
    height : auto;
    margin: 0 auto;
    transition: transform .4s;
}
   
.agrandir:hover {
    transform: scale(1.5);
}

#popup-img {
    z-index: 100;
    position: relative;
    height: 350px;
}


